@font-face {
  font-family: InterBold;
  src: url(./static/Inter-Bold.ttf);
}

@font-face {
  font-family: InterLight;
  src: url(./static/Inter-Light.ttf);
}
.block1 {
  margin: 100px;
  color: white;
  font-family: InterLight;
  font-size: xx-large;
  background-color: #1f202b;
  padding: 80px;
}
.block2 {
  margin: 100px;
  color: white;
  font-family: InterLight;
  font-size: xx-large;
  background-color: #1f202b;
  padding: 80px;
}
.block3 {
  height: 400px;
  margin: 100px;
  color: white;
  font-family: InterLight;
  font-size: xx-large;
  background-color: #1f202b;
  padding: 80px;
  display: flex;
  align-items: center;
}
.block4 {
  height: 400px;
  margin: 100px;
  color: white;
  font-family: InterLight;
  font-size: xx-large;
  background-color: #1f202b;
  padding: 30px;
  display: flex;
  align-items: center;
}
body {
  background-color: #1e1e1e;
}
.buttonn {
  width: 110px;
  height: 30px;
  font-size: small;
  background: none;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  transition-duration: 0.5s;
}

.buttonn:hover {
  transform: translateY(-2px);
  background-color: white;
  border-width: 0 px;
  border-radius: 20px;
  color: #1f202b;
}

.visible {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50%);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .visible {
    transition: none;
  }
}
.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

.line1_small_text {
  font-family: InterLight;
  font-size: x-small;
  margin-right: 400px;
  margin-top: 10px;
}
.vl {
  border-left: 3px solid rgb(255, 255, 255);
  height: 300px;
  margin: auto auto;
  opacity: 10%;
}

.heads {
  font-family: InterBold;
  font-size: x-large;
  margin: auto 0;
  font-size: larger;
}

.hvr {
  transition-duration: 0.25s;
}
.hvr:hover {
  transform: translateY(-5px);
}
