.Samarth {
  display: inline;
  font-weight: bold;
  color: #803fe2;
}
.content {
  font-size: 0.38em;
}
.img1 {
  width: 1em;
  height: 1em;
  margin-bottom: 10px;
}

.img2 {
  width: 1em;
  height: 1em;
  margin-bottom: 10px;
}
.img3 {
  width: 1em;
  height: 1em;
  margin-bottom: 10px;
}
.img4 {
  width: 1em;
  height: 1em;
  margin-bottom: 10px;
}
.img5 {
  width: 1.3em;
  height: 1em;
  margin-bottom: 10px;
}
.img6 {
  width: 1.3em;
  height: 1em;
  margin-bottom: 10px;
}
.img7 {
  width: 1em;
  height: 1em;
  margin-bottom: 10px;
}
.img8 {
  width: 1em;
  height: 1em;
  margin-bottom: 10px;
}
.img9 {
  width: 2.5em;
  height: 1em;
  margin-bottom: 10px;
}
.img10 {
  width: 1em;
  height: 1em;
  margin-bottom: 10px;
}
